/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/


body {
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
    
}
.container{
   
    padding: 0 15px;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}


/* HLAVICKA */

header{
    padding: 40px 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(images/island-hlavicka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #f5f5f5;
    text-align: center;
}
.titulek {
    font-family: 'Raleway', serif;
    font-size: 50px;
    line-height: 1;
    
}
.perex{
    margin: 20px auto;
    max-width: 450px;;
}
.autor{
    position: relative;
    padding-top: 15px;
    opacity: 0.6;
    
}
.autor::before{
    content: ' ';
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #f5f5f5;
    left: calc(50% - 50px);
    top: 0;
    


}

/* MENU */
nav{
    padding: 40px 0;
}
.menu{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.menu li{
   width: 100%;
   border-bottom: 1px solid silver;
   text-align: center;
  
}
.menu a{
    text-transform: uppercase;
    font-size: 14px;
    color: silver;
    margin: 5px 0;
    display: inline-block; 
   
}

/* OBSAH */
h2{
    font-size: 20px;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
h2::after{
    content: ' ';
    display: inline-block;
    position: absolute;
    height: 4px;
    width: 50px;
    background-color:blue;
    left: -15px;
    bottom: 0;
}
img {
    margin-top: 20px;
    width: 100%;
}
section p{
    margin-bottom: 15px;
    font-size: 14px;
}

.about{
    padding: 20px 0;
}

.popisek{
    font-size: 10px;
    color:silver;
    text-align: center;
}
.popisek a{
    color:silver;
    text-decoration:underline;
}

/* FOTOGALERIE */
.fotogalerie{
    padding-top: 60px;
    padding-bottom: 20px;
}
.fotogalerie p{
    margin-bottom: 0;
}
.foto .popisek{
    color:grey;
    font-weight: 700;
}
.popisek-copy{
    font-size: 10px;
    color:silver;
    font-weight: 400;
}



/* PATICKA */
footer{
    background-color: rgba(202, 202, 202, 0);
    background-image: linear-gradient(360deg, rgba(202, 202, 202, 0) 0%, rgba(159, 159, 160, 1) 100%);
   font-size: 12px; 
   color: gray;
   padding: 25px 0;
   
}
footer a{
    color: grey;
    text-decoration: underline;
}










@media screen and (min-width: 500px) and (max-width: 1000px) {
    .titulek {
        font-size: 60px;
        
    }
    .perex{
        margin: 20px auto;
        max-width: 100%;
    }
    .menu{
        flex-direction: row;
        font-size: 16px;
    }
    .menu li{
        border-top: 1px solid silver;
        border-right: 1px solid silver;
    }
    .menu li:last-child{
        border-right: transparent;
    }
    .img{
        position: relative;
    }
   
    .img p{
        position: absolute;
        right: 15px;
        bottom: 0;
       
    }
    
    .fotogalerie{
        padding-bottom: 0;
    }
    .galerie{
        display: flex;
        flex-wrap: wrap;
    }
    .galerie .popisek{
        display: none;
     }
    .foto{
        flex-basis: 50%;
    }
    .galerie img{
        margin: 0;
        width: 100%;
        height: 100%;
    }
  }