/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/


body {
    margin: 0 auto;
    padding: 0 15px;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
    max-width: 530px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}


/* HLAVICKA */
header{
    padding: 40px 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(images/island-hlavicka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #f5f5f5;
    text-align: center;
}
.titulek {
    font-family: 'Raleway', serif;
    font-size: 50px;
    line-height: 1;
    
}
.perex{
    margin: 20px auto;
    max-width: 450px;;
}
.autor{
    position: relative;
    padding-top: 15px;
    opacity: 0.6;
    
}
.autor::before{
    content: ' ';
    display: inline-block;
    position: absolute;
    width: 20%;
    height: 2px;
    background-color: #f5f5f5;
    left: 40%;
    top: 0;
    


}

/* MENU */
nav{
    padding: 40px 0;
}
.menu{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.menu li{
   width: 100%;
   border-bottom: 1px solid silver;
   text-align: center;
  
}
.menu a{
    text-transform: uppercase;
    font-size: 14px;
    color: silver;
    margin: 5px 0;
    display: inline-block; 
   
}

/* OBSAH */




/* FOTOGALERIE */




/* PATICKA */
@media screen and (max-width: 600px) {
    body {
      
    }
  }